#header{
    width: 1500px;
    height: 80px;
    text-align: center;
    color: #337ab7;
}
#copyright{
    text-align: center;
    width: 1500px;
    height: 50px;
    font-size: 15px;
    color: #337ab7;
}