#d1{
    width: 1500px;
    height: 100px;
    background-color: aqua;
    float: left;
}
#d2{
    width: 750px;
    height: 500px;
    background-color: brown;
    float: left;
}
#d3{
    width: 750px;
    height: 500px;
    background-color: antiquewhite;
    float: left;
}
#d3{
    width: 1500px;
    height: 100px;
    background-color: antiquewhite;
    float: left;
}